* {
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse
}


th {
    background-color: #EEFFFF;
    border: 1px solid #757575;
}

td {

    border: 1px solid #757575;
}